﻿<!-- Site branding area -->
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="./"><img src="~/Content/img/logo.png"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="cart.html">
                        Cart - <span class="cart-amunt">$0</span>
                        <i class="fa fa-shopping-cart"></i> <span class="product-count">0</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
