﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/img/logo.ico")">
</head>
<body >
    @RenderPage("_header.cshtml")
    @RenderPage("_branding.cshtml")
    @(IsSectionDefined("MainMenu") ? RenderSection("MainMenu", false) : RenderPage("_mainMenu.cshtml"))

    <div>
        @RenderBody()
    </div>
    @RenderPage("_footer.cshtml")
</body>
</html>
