﻿<!-- Footer top area -->
<div class="footer-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2><span>Online Shopping</span></h2>
                    <p>Only for test</p>
                </div>
            </div>
        </div>
    </div>
</div>
