﻿<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
<div class="container">
    <link rel="stylesheet" href="~/Content/css/login.css"  />
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt=""/> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method="post" action="@Url.Action("Login","Authentication")">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" name="Username" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" name="RememberMe" value="remember-me"> Remember me
                </label>
            </div>
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl"/>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->